<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>136002277260-ofie55jkb5151v6sr1t1u1os0mt111uq.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.136002277260-ofie55jkb5151v6sr1t1u1os0mt111uq</string>
	<key>API_KEY</key>
	<string>AIzaSyCOaJyQD0K62H0QQWy5S9Zu1PWKnUycCj8</string>
	<key>GCM_SENDER_ID</key>
	<string>136002277260</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.op.MyWorkout</string>
	<key>PROJECT_ID</key>
	<string>myworkout-98422</string>
	<key>STORAGE_BUCKET</key>
	<string>myworkout-98422.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:136002277260:ios:e4a05b94dd1f2a8b</string>
	<key>DATABASE_URL</key>
	<string>https://myworkout-98422.firebaseio.com</string>
</dict>
</plist>
